@page
@model Lab11_Project.Pages.LoginPageModel
@{
    Layout = "_LayoutLogin";
	ViewData["Title"] = "Login";
}
@section styles {
        <style>
            .login-form {
                background-color: #2d2d2d;
                border-radius: 10px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
                margin: 100px auto;
                max-width: 500px;
                padding: 30px;
            }
            .text-white {
                color: #fff;
            }
            hr {
                background-color: #fff;
            }
        </style>
}

<div class="row">
    <div class="col-md-12">
        <form method="post" class="login-form">
            <h1 class="text-center text-white mb-4">Login</h1>
            <hr>
            <div class="form-group">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" id="email" name="Email" required>
            </div>
            <div class="form-group">
                <label for="password" class="form-label">Password:</label>
                <input type="password" class="form-control" id="password" name="Password" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
    </div>
</div>